{% extends 'loanpredictor/main_template.html' %}
{% load crispy_forms_filters %}

{% block title %}Main Page {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Loan Prediction Form</h3>
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            {% csrf_token %}

                            {{form|crispy}}

                            <input class="btn btn-primary btn-lg" type="submit" name="result" value="Get Result!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}